/* ------------------ Home ------------------- */

html {
  font-size: 1rem;
  font-family: "Fira Sans", sans-serif;
}

.btn-cool-blues {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.box1_bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Overlay Immagine alternativo */
/* .opacity {
    background-color: rgba(0,0,0,.3);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0
} */

.retroshd {
  color: #2c2c2c;
  letter-spacing: 0.05em;
  text-shadow: 4px 4px 0px #474747;
}

.box-blu {
  background-color: navy;
}

h1,
h2,
h3,
h4,
h5 {
  color: navy;
}

p {
  color: grey;
}

main .fa:before {
  color: orangered;
}

aside div h4:before {
  font-family: FontAwesome;
  font-size: 0.6em;
  content: "\F00C";
  color: orangered;
  border: 1px solid orangered;
  border-radius: 100%;
  padding: 0.2em;
  margin-right: 0.2em;
}

.social_ico {
  font-size: 15px;
  font-family: FontAwesome;
  border: 1px solid black;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  padding: 9px;
  text-align: center;
  margin-right: 5px;
}

/* ------------------ Chi Siamo ------------------- */

.price-card-1 {
  background: cyan;
  padding: 5rem 3rem;
  text-align: center;
  transform: skew(-10deg, 0);
}

.price-card-2 {
  background: rgb(255, 89, 89);
  padding: 5rem 3rem;
  text-align: center;
  transform: skew(-10deg, 0);
}

.price-card-3 {
  background: rgb(215, 224, 131);
  padding: 5rem 3rem;
  text-align: center;
  transform: skew(-10deg, 0);
}

aside li:before {
  font-family: FontAwesome;
  content: "\F00C";
  color: orangered;
  padding-right: 0.5em;
}

/* ------------------ Contatti ------------------- */

.social_ico:hover {
  background-color: rgba(98, 208, 255, 0.655);
  color: white;
}
